.frame-cont {
    width: 100%;
    height: 80vh;
    border: 5px solid black;
    margin: auto;
    position: relative; 
    overflow: hidden;
}
.frame-cont img {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 100%;
    width: 105%;
}
.frame-cont img:nth-child(2) {
    transform: rotateY(180deg);
}
.frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.ball {
    background-color: red;
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50px;
}
.wall {
    background-color: black;
    display: inline-block;
    width: 30px;
    position: absolute;
    bottom: 0;
    right: -30px;
}
.heart {
    color: red;
    margin: 15px 5px;
    float: right;
}
#replay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
#replay button, #play button {
    padding: 30px;
    background-color: greenyellow;
    font-size: 3vw;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1000;
    border-radius: 10px;
    cursor: pointer;
}
.score-div {
    margin: 5px;
    float: left;
    font-weight: bold;
    font-size: 20px;
}
.level-div {
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
}
.music {
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: white;
    cursor: pointer;
    z-index: 2;
}
@media only screen and (max-width: 900px) {
    .ball {
        padding: 12px;
    }
    .wall {
        width: 17px;
    }
}
@media only screen and (max-width: 560px) {
    header nav {
        top: 35px;
        right: 5px;
    }
}