/****************** General Styles *******************/
* {
    box-sizing: border-box;
}

body {
    background-color: lemonchiffon;
}

a {
    text-decoration: none;
}
main {
    width: 400px;
    margin: 30px auto 60px;
    font-family: 'Lusitana', serif;
}
/****************** signup form *******************/
h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;
    background-image: linear-gradient(to right, red 0%, green 50%, blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form {
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 2px 2px grey;
}
h2 {
    margin: 5px;
    font-size: 30px;
    font-family: Georgia, serif;
}
.header-note {
    display: block;
    color: slategrey;
    text-align: center;
}
hr {
    border-color: ghostwhite;
}
form {
    text-align: center;
}
input {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px 0;
}
input::placeholder {
    color: darkslategrey;
}
.submit {
    display: inline-block;
    width: auto;
    padding: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}
.submit:hover {
    background-color: darkgreen;
}
input:focus {
    outline: solid lemonchiffon 3px;
    box-shadow: 0 0 5px 5px lemonchiffon;
}
input:focus::placeholder {
    color: lightgrey;
}
.err {
    color: red;
    font-size: 15px;
    text-align: left;
}
/****************** footer *******************/
footer a {
    margin: 10px;
    color: darkgrey;
}

footer {
    background-color: white;
    padding: 10px;
    color: darkgrey;
}
